/*seletores no css á aplicar as formatações com base nas seleções, ou seja escolhedo onde quer aplicar a seleção
*/
/*Seletor universal - com base no que for colocado toda a formatação sera aplicada em todo o documento, pois é um seletor universal, nesse caso, cada elemento ira receber uma borda*/
/*Seletor Univeral*/
*{
    border: 2px solid red;
}


/*
Seletor de texto

*/
h1{
    color: green;
}

/*Seletor de Classe*/
.verde{
    color: green;
}
p.verde{ 
    color: green;
}

/*Seletor de ID*/
#cabecalho{
    border: 1px solid black;
}
/*Seletor de filho*/
li>a{
    color: red;
    text-decoration: none;
}
/*Seletor de descendente*/
div a{
    color: green;
}
/*Seletor de irmão adjacente*/
h1+p{
    color: red;
}
/*Seletor de irmão geral*/
h1~p{
    color: blue;
}